/* =================== GENERAL FORM ================= */
.form__section {
    display: grid;
    place-items: center;
    height: 130vh;
    margin-top: 5rem;
}

.alert__message {
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
}

.alert__message.error {
    background: var(--color-red-light);
    color: var(--color-900);
}

.alert__message.success {
    background: var(--color-green-light);
    color: var(--color-300);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.form__section-container {
    width: var(--form-width);
}

.form__control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form__control.inline {
    flex-direction: row;
    align-items: center;
}

input, textarea, select {
    padding: 1rem 1.4rem;
    background: var(--color-light);
    border-radius: var(--card-border-radius-2);
    resize: none;
    color: var(--color-900);
}

.form__section small {
    margin-top: 1rem;
    display: block;
}

.form__section small a {
    color: var(--color-300);
}

.form__section small a:hover {
    color: var(--color-danger);
}

/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ======================*/
@media screen and (max-width: 1024px) {
    .form__section {
        margin-top: 0;
        margin-bottom: 0;
    }

    .form__section-container {
        width: var(--container-width-lg);
    }

    .form__section-container h2 {
        margin-bottom: 2.5rem;
        text-align: center;
        font-size: 40px;
    }

    .alert__message {
        padding: 1.4rem 1.4rem;
        font-size: medium;
    }

    input, textarea, select {
        padding: 1.4rem 1.4rem;
    }

    .btn {
        font-size: medium;
    }

    small {
        font-size: medium;
    }

}

/* ====================== MEDIA QUERIES (SMALL DEVICES) ======================*/
@media screen and (max-width: 600px) {
    .form__section {
        margin-top: 6rem;
        height: auto;
    }

    .form__section-container {
        width: var(--container-width-md);
    }

    .form__section-container h2 {
        margin-bottom: 2rem;
        text-align: center;
    }

    .alert__message {
        padding: 1.2rem 1.4rem;
        font-size: medium;
    }

    small {
        font-size: medium;
    }
}